<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mood.honeyprojects.gusgusapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".sharedPreferences.Preferences"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GusGusApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.ui.AddDiametroActivity"
            android:exported="false" />
        <activity
            android:name=".DiametroActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.EditSaborActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.AddSaborActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.SaborActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.EditNoticiaActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.AddNoticiaActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.NoticiaActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.DetailTortaPersonalizadaActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.TortasPersonalizadasActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.SearchOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.ConfirmOrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.UserDataActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.ClientMainActivity"
            android:exported="false"
            android:label="@string/title_activity_client_main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.ui.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.Signup2Activity"
            android:exported="false" />
        <activity
            android:name=".view.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.PersonalizarActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>